/* REVIEW SUBSECTION */
.review-content-wrapper {
    margin: 0 25px;
    font-family: 'Lato', sans-serif;
}

.review-section {
    display: flex;
}

.review-section:not(:last-child) {
    margin-bottom: 100px;
}

.review-heading {
    font-size: 40px;
    line-height: 48px!important;
    text-transform: uppercase;
    color: #334155;
}

.review-text {
    font-size: 16px;
    line-height: 24px;
    color: #64748B;
}

.review-section p:not(:last-child) {
    margin-bottom: 30px;
}

.review-section1 > .review-section-left > .review-heading {
    margin-bottom: 50px;
}

.review-section-left {
    width: 38.033%;
    padding-right: 30px;
}

.review-section-right {
    width: 61.967%;
}

.image-stack-mobi {
    display: none;
}

.image-stack::after {
    content: ' ';
    display: table;
    clear: both;
}

.image-stack {
    padding-left: 40px;
}

.image-stack-item-top {
    float: left;
    width: 66%;
    margin-right: -100%;
    position: relative;
    z-index: 1;
}

.image-stack-item-bottom {
    padding-top: 26%;
    padding-left: 7%;
}

.image-stack-item-top img{
    width: 440px;
    border-radius: 16px;
}

.image-stack-item-bottom img{
    width: 669px;
    border-radius: 16px;
}

@media (max-width: 1360px){
    .image-stack-item-top img{
        width: 32.353vw;
    }
    
    .image-stack-item-bottom img{
        width: 49.191vw;
    }
}

@media (max-width: 1023px){
    .review-content-wrapper {
        margin: unset;
    }

    .review-section:not(:last-child) {
        margin-bottom: 30px;
    }

    .review-section p:not(:last-child) {
        margin-bottom: 22px;
    }

    .review-section-left {
        width: 44.02%;
    }
    
    .review-section-right {
        width: 55.98%;
    }

    .image-stack {
        padding: unset;
    }

    .review-heading {
        font-size: 20px;
        line-height: 24px!important;
    }
    
    .review-text {
        font-size: 14px;
        line-height: 20px;
    }

}

@media (max-width: 767px){
    .review-section {
        display: block;
    }

    .review-section-left {
        width: 100%;
        padding: unset;
    }
    
    .review-section-right {
        width: 100%;
    }

    .review-section1 > .review-section-left > .review-heading {
        margin-bottom: unset;
    }

    .review-heading {
        font-size: 16px;
        line-height: 20px!important;
    }
    
    .review-text {
        font-size: 12px;
        line-height: 18px;
    }

    .review-heading-main {
        background-color: #fff;
        padding: 8px 8px 8px 0;
        /* width: 77.366vw; */
        position: absolute;
        margin-top: -30%;
        z-index: 2;
        max-width: 50vw;
        /* min-width: 30vw; */
    }

    .image-stack-mobi {
        display: block;
        width: fit-content;
        margin: 0 auto;
        margin-bottom: 24px;
    }

    .image-stack-item-top img{
        width: 43.200vw;
    }
    
    .image-stack-item-bottom img{
        width: 69.333vw;
    }

    .image-stack-item-bottom {
        padding-top: 23%;
        padding-left: 5%;
    }

    .image-stack-desk {
        display: none;
    }

    .review-heading:first-child {
        margin-bottom: 24px;
    }
}
/* END OF REVIEW SUB SECTION */

.cover--right img{
    border-radius: 16px;
}

/* WORLD CUP STADIUM POPUP */
.flex-horizontal .scale-image:hover {
    cursor: pointer;
}
.popup-stadium {
    display: none;
	position: fixed; /* Stay in place */
	z-index: 99; /* Sit on top */
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	background-color: #1A202C; /* Fallback color */
	background-color: rgba(26, 32, 44, 0.8); /* Black w/ opacity */
}

.popup-stadium > div {
	background-color: #FFFFFF;
	border-radius: 16px;
	max-width: 720px;
	margin: 90px auto 0;
    height: 632px;
}

.popup-stadium div > .popup-stadium-title {
	font-size: 16px;
    line-height: 20px;
	font-weight: 700;
	color: #222939;
	padding: 32px 32px 24px 32px;
	border-bottom: 1px solid #E9EAEB;
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
}

.popup-stadium-close {
    cursor: pointer;
}

.popup-stadium-content {
    padding: 32px;
}

.popup-stadium-top {
    display: inline-flex;
    gap: 24px;
    margin-bottom: 24px;
}

.popup-stadium-big-img {
    width: 50%;
    height: 318px;
    object-fit: cover;
    border-radius: 16px;
}

.popup-stadium-text {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 24px;
    width: 50%;
}

.popup-stadium-other {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    list-style: 24px;
    font-weight: 700;
    margin-bottom: 14px;
}

.popup-stadium-swiper {
    /* gap: 12px; */
}

.popup-stadium-swiper-img-cont {
    gap: 12px;
}

.popup-stadium-slide {
    flex-shrink: unset!important;
    cursor: pointer;
    width: 192px;
    height: 110px;
}

.popup-stadium-slide img {
    width: 192px;
    height: 110px;
    border-radius: 16px;
    object-fit: cover;
    cursor: pointer;
}

.popup-stadium-prev, .popup-stadium-next {
    display: unset;
} 

.popup-stadium-next::after {
    position: absolute;
    margin-top: -29px;
    margin-left: -6px;
}

.popup-stadium-prev::after {
    position: absolute;
    margin-top: -31px;
    margin-left: -6px;
}

@media (max-width: 720px){
    .popup-stadium div > .popup-stadium-title {
        border-bottom: none;
    }

    .popup-stadium-content {
        padding-top: 10px;
    }

    .popup-stadium-text {
        font-size: 12px;
    }

    .popup-stadium-top {
        display: block;
    }

    .popup-stadium-big-img {
        width: 100%;
        margin-bottom: 24px;
    }
    
    .popup-stadium-text {
        width: 100%;
    }

    .popup-stadium-other {
        font-size: 16px;
    }

    .popup-stadium-swiper-img-cont {
        flex-wrap: unset;
    }

    .popup-stadium-prev, .popup-stadium-next {
        display: none;
    }

}