:root {
	--alice-blue: #F1F5F9;
	--blue-cool: #0f172a;
	--blue-cool-rgb: 15,23,42;
	--charcoal: #334155;
	--dark-grayish-navy: #222939;
	--link-water: #CBD5E1;
	--light-grayish-blue: #64748B;
	--mourn-mountain-snow: #E9EAEB;
	--light-silver: #D9D9D9;
	--light-AEB: #E9EAEB;
	--nelvy: #1A2E4D;
	--pattens-blue: #e6e9eb;
	--qatar-maroon: #8A1538;
	--red-wine: #AA0A3E;
	--torch-red: #FF004C;
	--torch-red-hover: #FF2969;
	--torch-red-disabled: #D80348;
	--pink-red: #F6034D;
	--pink-red-dark: #C9334E;
	--torch-2b: #85002B;
	--white: #fff;
}
.wc22 * {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
/* overwrite layout.css */
body {
	min-width: 360px;
	background-color: var(--other-1);
}
.wc22 a {
	display: inline;
}
.wc22 p, 
.wc22 h1, 
.wc22 h2, 
.wc22 h3, 
.wc22 h4,
.wc22 h5, 
.wc22 h6, 
.wc22 button {
	display: block;
}
.wc22 h1, .wc22 h2, .wc22 h3, .wc22 h4, .wc22 h5, .wc22 h6 {
	line-height: 1;
}
.content {
	overflow: unset;
}
.dynamic-content {
	max-width: 100%;
}
.button {
	text-align: center;
}
.dynamic-content .area .swiper-tiles.casino-tiles:not(.big) .swiper-slide .tile .hover-content button {
	width: auto;
}
/* ~overwrite layout.css */
/* overwrite swiper */
.swiper-odds--live .swiper-slide,
.swiper-odds--upcoming .swiper-slide,
.swiper-groups .swiper-slide {
	-ms-flex-negative: 1;
	    flex-shrink: 1;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
}
.dynamic-content .area .swiper-tiles {
	overflow: visible;
	width: 100%;
}
.dynamic-content .area .swiper-tiles .swiper-slide {
	-ms-flex-negative: 1;
	    flex-shrink: 1;
	width: max-content;
}
.broadage-widgets-body.broadage-fixture.broadage-soccer.broadage-theme-white .broadage-footer-logo {
	display: none;
}
.swiper-odds--live .swiper-slide {
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	width: 100%;
}
.dynamic-content .area .swiper-tiles .swiper-slide:last-child {
	margin-right: 0 !important;
}
.dynamic-content .area .swiper-tiles .swiper-slide:first-child {
	margin-left: 0;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}
.swiper-button-prev,
.swiper-button-next {
  display: none;
}
.swiper-button-prev:disabled,
.swiper-button-next:disabled {
  opacity: 0;
}
.swiper-button-prev,
.swiper-button-next {
  display: none;
}
.swiper-button-prev:after,
.swiper-button-next:after {
	content: none;
}
.nav-arrows.left:before,
.nav-arrows.right:before {
	-webkit-mask: none;
}
/* ~overwrite swiper */
iframe {
	border: none;
	outline: none;
}
.wc22 .area {
	width: 100%;
	padding-top: 24px;
}
.wc22 .area h2 {
	font-size: 24px;
	line-height: 32px;
	margin-top: 24px;
	margin-bottom: 24px;
	text-transform: uppercase;
}
.swiper-holder {
	padding: 24px;
	margin: -24px;
	overflow: hidden;
}
.swiper-odds--upcoming {
	overflow: visible;
	position: relative;
}
.inner {
	max-width: 1360px;
	width: 100%;
	padding: 0 24px;
	margin: 0 auto;
}
.wc22 > section.wc22-tabs {
	padding: 30px 0;
}
.wc22-tabs {
	width: 100%;
	text-align: center;
}
.wc22-tabs__tab {
	text-transform: uppercase;
	font-size: 14px;
	line-height: 20px;
	margin: 0 20px;
	position: relative;
	display: inline-block;
}
.wc22-tabs__tab:hover {
	text-decoration: none !important;
	color: var(--torch-red);
}
.wc22-tabs__tab.act {
	color: var(--torch-red);
}
.wc22-tabs__tab:after {
	content: "";
	width: 25%;
	height: 1px;
	background-color: var(--torch-red);
	position: absolute;
	bottom: -2px;
	left: 0;
	display: block;
	opacity: 0;
	-webkit-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.wc22-tabs__tab.act:after {
	width: 100%;
 	opacity: 1;
}
.wc22-tab-items {
	width: 100%;
}
.wc22-tab-items__item {
	position: relative;
	overflow: hidden;
}
.wc22-tab-items__item--1__items {
	background: -o-linear-gradient(338.85deg, #121C79 0%, #AF0A3B 100%);
	background: linear-gradient(111.15deg, #121C79 0%, #AF0A3B 100%);
	position: relative;
	/* overflow: hidden; */
	padding-bottom: 48px;
}
.wc22-tab-items__item--1__items:before {
	content: "";
	background-image: url("../images/wc22/bg-shape1.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 1360px 100%;
	width: 100%;
	height: 855px;
	position: absolute;
	display: block;
	mix-blend-mode: hard-light;
}
.wc22-tab-items__item--1__items > * {
	position: relative;
}
.wc22-tab-items__item--1__subtabs {
	text-align: center;
	padding: 30px 0;
}
/* .wc22-tab-items__item--1__subtabs .nav {
	margin-bottom: 30px;
} */
.wc22-tab-items__item--1__subtabs__tab {
	font-size: 14px;
	line-height: 20px;
	color: white;
	text-transform: uppercase;
	margin: 0 20px;
	position: relative;
	display: inline-block;
}
.wc22-tab-items__item--1__subtabs__tab:hover {
	text-decoration: none !important;
}
.wc22-tab-items__item--1__subtabs__tab:after {
	content: "";
	width: 50%;
	height: 2px;
	background-color: var(--torch-red);
	position: absolute;
	bottom: -6px;
	left: 100%;
	display: block;
	-webkit-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	opacity: 0;
}
.wc22-tab-items__item--1__subtabs__tab.act:after {
	left: 0;
	opacity: 1;
}
.wc22-tab-items__item {
	display: none;
	width: 100%;
	padding-bottom: 30px;
}
.wc22-tab-items__item.act {
	display: block;
}
.wc22-tab-items__item--1__subs__item {
	display: none;
}
.wc22-tab-items__item--1__subs__item.act {	
	display: block;
}
.odds-live-card {
	max-width: 540px;
	padding: 36px;
	margin: 0 auto;
	text-align: center;
	cursor: pointer;
	position: relative;
}

.odds-live-card h3 {
	font-size: 32px;
	line-height: 40px;
	text-transform: uppercase;
	text-align: center;
	color: var(--other-1);
}
.odds-live-card p {
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: var(--other-1);
}
.odds-live-card button.btn {
	display: inline-block;
}
.odds-live-card__teams {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 24px;
	margin-bottom: 60px;
	position: relative;
}
.odds-live-card__teams:before {
	content: "";
	background-image: url("../images/wc22/ball-rail-right.svg");
	display: block;
	position: absolute;
	width: 93px;
	height: 25px;
	left: -130px;
	top: 25%;
}
.odds-live-card__teams:after {
	content: "";
	background-image: url("../images/wc22/ball-rail-left.svg");
	display: block;
	position: absolute;
	width: 93px;
	height: 25px;
	right: -130px;
	top: 25%;
}
.odds-live-card__teams__team {
	width: 140px;
}
.odds-live-card__teams__team > img {
	display: block;
	margin: 0 auto 12px;
}
.odds-live-card__teams__team > p {
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 12px;
}
.odds-live-card__teams__scores {
	margin-top: 20px;
}
.odds-live-card__teams__scores > span {
	font-size: 14px;
	line-height: 20px;
	color: var(--other-1);
}
.odds-live-card__teams__scores__fig {
	font-size: 72px;
	line-height: 56px;
	font-weight: 800;
}
.odds-live-card__teams__team__capsule {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	border: 1px solid var(--other-1);
	border-radius: 16px ;
	padding: 6px 8px;
	font-size: 12px;
	line-height: 18px;
	color: var(--other-1);
}
.swiper-pagination--odds-live {
	position: relative;
	margin: 0 auto;
	left: auto;
	right: auto;
	text-align: center;
}
.swiper-pagination--odds-live .swiper-pagination-bullet {
	background-color: var(--other-1);
	opacity: 1;
	width: 72px;
	height: 4px;
	border-radius: 2px;
}
.swiper-pagination--odds-live .swiper-pagination-bullet-active {
	background-color: var(--torch-red);
}
.swiper-odds-prev,
.swiper-odds-next {
	position: absolute;
	z-index: 1;
	width: 48px;
	height: 48px;
	cursor: pointer;
	background: #4e5461;
	border-radius: 50%;
	top: calc(50% - 24px);
	opacity: 0;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.swiper-odds-prev.swiper-sched-prev,
.swiper-odds-next.swiper-sched-next {
	background: var(--torch-red);
}
.swiper-odds-prev:active,
.swiper-odds-next:active {
	background: #A7A9B0;
}
.swiper-odds-prev.swiper-sched-prev:active,
.swiper-odds-next.swiper-sched-next:active {
	background: var(--torch-red);
}
.swiper-odds-prev {
	left: 0;
}
.swiper-odds-next {
	right: 0;
}
.swiper-odds-next:after,
.swiper-button-next:before {
	content: '';
	display: block;
	width: 12px;
	height: 8px;
	background: url("../../images/icon-east.svg") no-repeat center center;   
}
.swiper-odds-prev:after,
.swiper-button-prev:before {
	content: '';
	display: block;
	width: 12px;
	height: 8px;
	background: url("../../images/icon-west.svg") no-repeat center center; 
}
.swiper-odds-next.swiper-button-disabled,
.swiper-odds-prev.swiper-button-disabled {
	pointer-events: auto;
	display: none;
}
.btn {
	display: inline-block;
	padding: 16px 32px;
	border-radius: 60px;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	text-align: center;
}
.btn--red {
	background-color: var(--torch-red);
	color: var(--other-1);
}
.btn--red:hover {
	background-color: var(--torch-red-hover);
	color: var(--other-1);
}
.wc22-tab-items__item--1__subs__item__sect {
	padding: 24px 0 0;
	position: relative;
}
.wc22-tab-items__item--1__subs__item__sect h4 {
	font-size: 16px;
	line-height: 20px;
	color: var(--other-1);
	margin-bottom: 16px;
}
.odds-upcoming-card {
	width: 316px;
	min-height: 180px;
	height: auto;
	background-color: var(--other-1);
	padding: 16px;
	border-radius: 16px	;
	cursor: pointer;
	-webkit-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	
}
.odds-upcoming-card__head {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: var(--charcoal);
	font-size: 10px;
	line-height: 14px;
	font-weight: 700;
}
.odds-upcoming-card__head > span:before {
	content: "";
	width: 1px;
	height: 17px;
	background-color: var(--link-water);
	display: inline-block;
	margin: 0 8px;
	vertical-align: middle;
}
.odds-upcoming-card__team {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.odds-upcoming-card__team > span {
	font-size: 14px;
	line-height: 20px;
	font-weight: 700;
}
.odds-upcoming-card__team--home > img {
	position: relative;
	left: -24px;
	-webkit-filter: drop-shadow(4px 2px 4px rgba(0, 0, 0, 0.25));
	        filter: drop-shadow(4px 2px 4px rgba(0, 0, 0, 0.25));
}
.odds-upcoming-card__team--away {
	margin-top: -24px;
}
.odds-upcoming-card__team--away > img {
	position: relative;
}
.odds-upcoming-card__capsules {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 24px;
}
.odds-upcoming-card__capsules__cap {
	border: 1px solid var(--link-water);
	border-radius: 16px;
	padding: 6px 8px;
	font-size: 12px;
	line-height: 18px;
	width: 48%;
	font-weight: 700;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	display: none;
	-webkit-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
.odds-upcoming-card__capsules__cap > span:first-child {
	color: var(--light-grayish-blue);
}
.odds-upcoming-card__capsules__cap > span:last-child {
	color: var(--charcoal);
}
.odds-upcoming-card__capsules.FT1X2 .wc-odds-1,
.odds-upcoming-card__capsules.FT1X2 .wc-odds-2,
.odds-upcoming-card__capsules.FT1X2 .wc-odds-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 32%;
        flex-basis: 32%;
}
.odds-upcoming-card__capsules.FTHDP .wc-odds-4,
.odds-upcoming-card__capsules.FTHDP .wc-odds-5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
}
/* sportsbook */
.wc22-tab-items__item--1__subs__item__sect--sportsbook {
	background-color: var(--other-1);
}
.area--sportsbook .swiper-tiles {
	margin-bottom: 40px;
}
.m88-app {
	max-width: 1120px;
	width: 100%;
	height: 90px;
	background-color: var(--nelvy);
	border-radius: 8px;
	margin: 0 auto 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	cursor: pointer;
	overflow: hidden;
}
.m88-app h3 {
	font-size: 24px;
	line-height: 32px;
	color: var(--other-1);
}
.m88-app h4 {
	font-size: 20px;
	line-height: 24px;
	color: var(--other-1);
}
/* ~sporsbook */
/* rng */
.wc22 .area--main {
	padding-top: 0;
}
.area--rng {
	background-color: var(--red-wine);
	padding-bottom: 48px;
}
.area--rng h2 {
	color: var(--other-1);
}
.area--rng .tile span {
	color: var(--other-1);
	font-size: 14px;
	line-height: 20px;
}
/* ~rng */
/* vids */
.vids {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-bottom: 50px;
}
.vids__main {
	margin-right: 10px;
	width: 100%;
	height: auto;
	margin-bottom: 8px;
} 
.vids__main__vid {
	width: 100%;
	height: 571px;
	margin-bottom: 5px;
}
.vids__thumbs > div {
	margin-bottom: 16px;
}
.vids__thumbs > div:last-child {
	margin-bottom: 0;
}
.vids__thumbs > div > img {
	margin-bottom: 5px;
}
.vids p  {
	font-size: 14px;
	line-height: 20px;
}
/* ~vids */
/* tnc */
.tnc-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	background-color: var(--other-1);
	margin: 0 auto;
	border-radius: 8px;
	max-width: 1120px;
	width: 100%;
	height: 91px;
	position: relative;
}
.tnc-box > a {
	margin-top: auto;
	margin-bottom: 14px;
	font-size: 12px;
	line-height: 18px;
	text-decoration: underline;
	color: var(--light-grayish-blue);
	white-space: nowrap;
}
.tnc-box > img {
	margin-left: 8px;
}
.tnc-box__texts {
	max-width: 440px;
	width: 100%;
	padding: 14px 0;
	align-self: center;
}
.tnc-box__texts h3 {
	font-size: 22px;
	line-height: 20px;
	color: var(--charcoal);
	text-transform: uppercase;
	margin-bottom: 8px;
}
.tnc-box__texts p {
	font-size: 18px;
	line-height: 18px;
	color: var(--light-grayish-blue);
}
.tnc-box__logos {
	background-color: var(--qatar-maroon);
	position: relative;
	padding: 7px 42px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 91px;
	border-radius: 0 8px 8px 0;
	margin-right: -2px;
	margin-left: 32px;
}
.tnc-box__logos:before {
	content: "";
	background-image: url("../../images/wc22/tnc/tnc-box-zigzag.svg");
	display: block;
	width: 32px;
	height: 91px;
	position: absolute;
	left: -31px;
	top: 0;
}
/* ~tnc */
/* broadage */
.broadage-widgets-body.broadage-fixture.broadage-soccer.broadage-theme-white {
	padding: 10px;
}
/* ~broadage */
/* prediction */
.pred-desk {
	display: block;
}
.pred-mobi {
	display: none;
}
/* ~prediction */
/* groups */
.swiper-groups {
	position: relative;
}
.groups-card {
	border-radius: 16px;
	background-color: var(--other-1);
	/* max-width: 480px; */
	/* width: 480px; */
	width: max-content;
	padding: 16px;
}
.groups-card table {
	text-align: center;
}
.groups-card table tr td:first-child {
	text-align: left;
	padding-left: 0;
	padding-right: 0;
}
.groups-card table tbody tr td:nth-child(2) {
	padding-right: 88px;
	text-align: left;
	padding-left: 4px;
}
.groups-card table td {
	padding: 6px;
	font-size: 12px;
	line-height: 18px;
}
.groups-card table td > img {
	width: 24px;
	height: 16px;
	vertical-align: middle;
	margin-right: 8px;
}
.groups-card table thead tr th {
	font-size: 12px;
	line-height: 18px;
	padding: 6px 6px 20px;
}
.groups-card table thead tr th:first-child {
	font-size: 16px;
	line-height: 24px;
	text-align: left;
	padding-left: 0;
}
/* ~groups */
/* knockouts */
.knockouts {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.knockouts__col {
	height: 573px;
	position: relative;
}
.knockouts__col__batch {
	margin-bottom: 16px;
	position: relative;
}
.knockouts__col__batch:last-child {
	margin-bottom: 0;
}
.knockouts__col__batch__grp {
	background-color: var(--other-1);
	border-radius: 10px;
	padding: 16px;
	width: 152px;
	min-height: 121px;
	margin-bottom: 8px;
	position: relative;
	z-index: 2;
}
.knockouts__col__batch__grp:last-child {
	margin-bottom: 0;
}
.knockouts__col__batch__grp__head {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 8px;
}
.knockouts__col__batch__grp__head__team {
	text-align: center;
}
.knockouts__col__batch__grp__head__team__name {
	font-size: 14px;
	line-height: 20px;
	font-weight: 700;
}
.knockouts__col__batch__grp__head__team__group {
	font-size: 10px;
	line-height: 14px;
	color: var(--charcoal);
}
.knockouts__col__batch__grp__head__scores > span {
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	font-weight: 700;
}
.knockouts__col__batch__grp__date {
	font-size: 10px;
	line-height: 14px;
	color: var(--light-grayish-blue);
	text-align: center;
}
.knockouts__col__batch--quarter{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 100%;
}
.knockouts__col__batch--semi {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 100%;
}
.knockouts__col__batch--finals {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}
.knockouts__col__batch--1:after,
.knockouts__col__batch--2:after {
	content: "";
	width: 50%;
	height: 50%;
	position: absolute;
	border-top: 1px solid var(--pink-red);
	border-right: 1px solid var(--pink-red);
	border-bottom: 1px solid var(--pink-red);
	right: -15%;
	top: 25%;
	z-index: 1;
}
.knockouts__col__batch__grp--1n2:after {
	content: "";
	width: 50%;
	height: 1px;
	position: absolute;
	border-top: 1px solid var(--pink-red);
	left: -15%;
	top: 50%;
	z-index: 1;
}
/* ~knockouts */
/* modals */
.wc22-modals {
	display: none;
	position: fixed;
	z-index: 300;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(var(--blue-cool-rgb), .75);
	align-items: center;
	justify-content: center;
}
.wc22-modals.act {
	display: flex;
}
.wc22-modals__lbox {
	padding: 0;
	max-width: 720px;
	width: 100%;
	height: 90%;
	background-color: var(--white);
	border-radius: 16px;
	color: var(--dark-grayish-navy);
	overflow: hidden;
	display: none;
	margin: 0 auto;
}
.wc22-modals__lbox.act {
	display: block;
}
.wc22-modals__lbox__head {
	padding: 32px;
	border-bottom: 1px solid var(--mourn-mountain-snow);
	position: relative;
}
.wc22-modals__lbox__bar {
	display: none;
	width: 40px;
	height: 4px;
	border-radius: 8px;
	background-color: var(--link-water);
	cursor: pointer;
	margin: 8px auto 12px;
}
.wc22-modals__lbox__close {
	width: 12px;
	height: 12px;
	display: block;
	position: absolute;
	background-image: url("../../images/wc22/close.svg");
	right: 32px;
	top: calc(50% - 6px);
	cursor: pointer;
	transition: all .5s ease-in-out;
}
.wc22-modals__lbox__close:hover {
	transform: rotate(360deg);
}
.wc22-modals__lbox__head h4 {
	font-size: 16px;
	line-height: 20px;
}
.wc22-modals__lbox__content {
	overflow-y: auto;
	max-height: 75vh;
	height: 100%;
	padding: 24px 32px;
}
.wc22-modals__lbox__content ol {
	counter-reset: item;
}
.wc22-modals__lbox__content li {
	margin-bottom: 16px;
	list-style-position: inside;
	display: block;
}
.wc22-modals__lbox__content ul > li {
	list-style-type: disc !important;
}
.wc22-modals__lbox__content ol > li:before {
	content: counters(item, ".") ".";
	counter-increment: item;
	margin-right: 2px;
	font-weight: 700;
}
.wc22-modals__lbox__content > ol {
	padding: 0;
	margin: 0;
}
.wc22-modals__lbox__content > ol > li {
	font-size: 14px;
	line-height: 20px;
	font-weight: 700;
}
.wc22-modals__lbox__content > ol > li ol,
.wc22-modals__lbox__content > ol > li ul {
	margin-top: 16px;
	padding-left: 16px;
}
.wc22-modals__lbox__content > ol > li > ol,
.wc22-modals__lbox__content > ol > li > ul {
	font-weight: 400;
	margin-top: 16px;
}
.wc22-modals__lbox__content > ol > li > ul > li {
	list-style-type: disc;
}
.wc22-modals__lbox__content > ol > li > ol > li > ul {
	margin-top: 0;
}
.wc22-modals__lbox__content > ol > li > ol > li > ul > li {
	margin-bottom: 0;
}
.convertable {
	margin-top: 48px;
	text-transform: uppercase;
}
.wc22-modals__lbox__content li table {
	margin-top: 20px;
	border-collapse: collapse;
}
.wc22-modals__lbox__content li table th, 
.wc22-modals__lbox__content li table td {
	padding: 12px;
	border: 1px solid var(--link-water);
}
.wc22-modals__lbox__content li table th {
	background-color: var(--mourn-mountain-snow);
}
.wc22-modals__lbox__content li table tbody tr:nth-child(odd) td {
	background-color: var(--white);
}
.wc22-modals__lbox__content li table tbody tr:nth-child(even) td {
	background-color: var(--ghost-white);
}
/* ~modals */
/* match schedule */
.match-sched {
	padding: 50px 0;
}
.swiper-sched-dates {
	position: relative;
}
.match-sched__cards__card__stadium__time,
.match-sched__cards__card__stadium__date {
	font-size: 12px;
	line-height: 18px;
	color: var(--light-grayish-blue);
}
.swiper-sched-dates__card {
	text-align: center;
	padding: 0 0px;
	border-right: 1px solid var(--link-water);
	cursor: pointer;
	width: 93px;
}
.swiper-slide:first-child .swiper-sched-dates__card {
	border-left: 1px solid var(--link-water);
}
.swiper-sched-dates__card > span {
	font-size: 12px;
	line-height: 18px;
}
.swiper-slide-active .swiper-sched-dates__card > span {
	font-weight: 900;
	color: var(--charcoal);
}
.swiper-sched .swiper-slide {
	width: max-content;
}
.swiper-sched-dates .swiper-slide {
	width: max-content;
	flex-shrink: 1;
}
.match-sched__cards {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
}
.match-sched__cards__card {
	max-width: 600px; 
	flex-basis: 50%;
	padding: 30px 0;
	margin-bottom: 20px;
}
.match-sched__cards__card__teams {
	display: flex;
	/* align-items: center; */
	justify-content: center;
	margin-bottom: 30px;
}
.match-sched__cards__card__teams__info {
	flex-basis: 50%;
}
.match-sched__cards__card__teams__info--home {
	text-align: right;
}
.match-sched__cards__card__teams__info--away {
	text-align: left;
}
.match-sched__cards__card__teams__info > img {
	display: block;
	width: 36px;
	height: 24px;
	margin-bottom: 8px;
}
.match-sched__cards__card__teams__info--home > img {
	margin-left: auto;
}
.match-sched__cards__card__teams__info--away > img {
	margin-right: auto;
}
.match-sched__cards__card__teams__info__name {
	font-size: 24px;
	line-height: 32px;
	text-transform: uppercase;
	font-weight: 700;
}
.match-sched__cards__card__teams__info__name.desk {
	display: block;
}
.match-sched__cards__card__teams__info__name.mobi {
	display: none;
}
.match-sched__cards__card__teams__vs {
	margin: 0 32px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
}
.match-sched__cards__card__teams__info__grp {
	font-size: 14px;
	line-height: 20px;
	color: var(--light-grayish-blue);
}
.match-sched__cards__card__stadium {
	text-align: center;
}
.match-sched__cards__card__stadium > img {
	margin-bottom: 30px;
}
.match-sched__cards__card__stadium__name {
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: 700;
}

/* ~match schedule */
@media (max-width: 1199px) {
	/* tnc */
	.tnc-box > img {
		margin-left: -2%;
	}
	.tnc-box__logos {
		padding: 7px 24px;
	}
	/* ~tnc */
}
@media (max-width: 1023px){
	.inner {
		padding: 0 16px;
	}
	.swiper-holder {
		padding: 16px;
		margin: -16px;
	}
	.swiper-odds-prev,
	.swiper-odds-next {
			display: none;
	}
	.swiper-odds-prev, .swiper-odds-next {
			width: 36px;
			height: 36px;
	}
	.swiper-odds-next, .swiper-odds-prev {
			top: 75%;
	}
	.wc22 .area h2 {
		font-size: 20px;
		line-height: 24px;
	}
	.m88-app h3 {
		font-size: 20px;
		line-height: 24px;
	}
	.btn {
		font-size: 12px;
		line-height: 18px;
		padding: 11px 20px;
	}
	.vids {
		display: block;
		margin-bottom: 0;
	}
	.vids__main {
		margin-right: 0;
		margin-bottom: 30px;
	}
	.vids__main__vid {
		width: 100%;
		height: 590px;
	}
	.vids__thumbs {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}
	.vids__thumbs > div {
		margin-right: 8px;
	}
	.vids__thumbs > div:last-child {
		margin-right: 0;
	}
	.vids__thumbs > div > img {
		width: 100%;
		height: auto;
	}
	/* prediction */
	.pred-desk {
		display: none;
	}
	.pred-mobi {
		display: block;
	}
	/* ~prediction */
	/* groups */
	.groups-card {
		padding: 8px 8px 8px 16px;
	}
	.groups-card table thead tr th {
		padding: 5px 5px 14px;
	}
	.groups-card table td {
		padding: 5px;
	}
	/* ~groups */
	/* tnc */
	.tnc-box > img {
		margin-left: -3%;
	}
	.tnc-box__texts h3 {
		font-size: 15px;
	}
	.tnc-box__texts p {
		font-size: 14px;
	}
	.tnc-box > a {
		margin-right: 1%;
	}
	.tnc-box__logos {
		padding: 7px 16px;
		margin-left: 21px;
	}
	.tnc-box__logos > img:first-child {
		width: 95px;
		height: 76px;
	}
	.tnc-box__logos > img:last-child {
		width: 64px;
		height: 64px;
	}
	.tnc-box__logos:before {
		background-image: url("../../images/wc22/tnc/tnc-box-zigzag-tablet.svg");
		width: 21px;
		left: -20px;
	}
	/* ~tnc */
	/* match schedule */
	.match-sched__cards__card__teams__info__name.desk {
		display: none;
	}
	.match-sched__cards__card__teams__info__name.mobi {
		display: inline-block;
	}
	/* ~match schedule */
}
@media (max-width: 767px){
	.inner {
		padding: 0 16px;
	}
	.wc22-tabs {
		overflow-x: hidden;
	}
	.wc22-tabs > .inner {
		padding: 0;
	}
	.wc22-tabs nav {
		display: flex;
		overflow: auto;
		padding: 0 16px;
		touch-action: pan-x;
	}
	.wc22-tabs nav::-webkit-scrollbar {
		display: none;
	}
	.wc22-tabs__tab {
		margin: 0 16px 0 0;
		white-space: nowrap;
		font-size: 12px;
		line-height: 18px;
	}
	.wc22-tabs__tab:last-child {
		margin-right: 0;
	}
	.area--timer.fifa--section {
		margin: 0 0 16px;
	}
	.wc22-tab-items__item--1__items {
		padding-bottom: 28px;
	}
	.wc22-tab-items__item--1__items:before {
		background-image: url("../images/wc22/bg-shape1-mobi.png");
		background-size: 767px 100%;
		height: 1023px;
	}
	.wc22-tab-items__item--1__subtabs {
		padding: 18px 0;
	}
	.wc22-tab-items__item--1__subtabs__tab {
		font-size: 12px;
		line-height: 18px;
		margin: 0 8px;
	} 
	.odds-live-card {
		padding: 0 16px;
	}
	.odds-live-card h3 {
		font-size: 16px;
		line-height: 20px;
	}
	.odds-live-card p {
		font-size: 14px;
		line-height: 20px;
	}
	.odds-live-card__teams {
		margin-bottom: 24px;
	}
	.odds-live-card__teams__team {
		width: 120px;
	}
	.odds-live-card__teams__team > img {
		width: 72px;
		height: 72px;
	}
	.odds-live-card__teams__team > p {
		font-size: 12px;
		line-height: 18px;
	}
	.odds-live-card__teams__scores p span {
		font-size: 12px;
		line-height: 18px;
	}
	.odds-live-card__teams__scores p span.odds-live-card__teams__scores__fig {
		font-size: 32px;
		line-height: 38px;
	}
	.wc22-tab-items__item--1__subs__item__sect h4 {
		font-size: 12px;
		line-height: 18px;
	}
	.odds-upcoming-card {
		width: 280px;
		min-height: 137px;
	}
	.odds-upcoming-card__head > img {
		width: 54px;
		height: auto;
	}
	.odds-upcoming-card__team--away {
		margin-top: -10px;
	}
	.odds-upcoming-card__team--home > img,
	.odds-upcoming-card__team--away > img {
		width: 32px;
		height: 32px;
	}
	.odds-upcoming-card__team--home > img {
		left: -24px;
		top: -18px;
		z-index: 2;
	}
	.odds-upcoming-card__team--away > img {
		z-index: 1;
		top: -20px;
	}
	.odds-upcoming-card__team > span {
		font-size: 12px;
		line-height: 18px;
	}
	.odds-upcoming-card__capsules {
		margin-top: 12px;
	}
	.odds-live-card__teams:before {
		display: none;
	}
	.odds-live-card__teams:after {
		display: none;
	}
	.swiper-pagination--odds-live {
		margin-top: 22px;
	}
	.swiper-pagination--odds-live .swiper-pagination-bullet {
		width: 32px;
	}
	.btn {
		font-size: 10px;
		line-height: 14px;
		padding: 8px 16px;
	}
	.m88-app {
		padding: 8px;
	}
	.m88-app > img {
		margin-left: -4%;
	}
	.m88-app h3 {
		font-size: 12px;
		line-height: 14px;
	}
	.m88-app h4 {
		font-size: 10px;
		line-height: 12px;
	}
	.vids__main__vid {
		height: 236px;
	}
	/* tnc */
	.tnc-box {
		height: 100px;
		display: block;
	}
	.tnc-box > img {
    position: absolute;
    left: -3%;
    bottom: 0;
	}
	.tnc-box__texts {
		position: relative;
		padding: 8px 0;
		padding-left: 14%;
    padding-right: 95px;
		max-width: 100%;
	}
	.tnc-box__texts h3 {
		font-size: 12px;
		line-height: 18px;
		margin-bottom: 0;
	}
	.tnc-box__texts p {
		font-size: 12px;
		line-height: 18px;
	}
	html[lang="ja-JP"] .tnc-box__texts h3 {
		font-size: 10px;
	}
	.tnc-box > a {
		margin: 0;
		display: block;
		text-align: right;
		padding-right: 0;
		position: absolute;
		right: 95px;
		bottom: 6px;
	}
	.tnc-box__logos {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		padding: 8px;
	}
	.tnc-box__logos:before {
		background-image: url("../../images/wc22/tnc/tnc-box-zigzag-mobi.svg");
		width: 18px;
		height: 100px;
		left: -17px;
	}
	.tnc-box__logos > img:first-child {
		width: 57px;
		height: 49px;
		display: block;
		margin: 0 auto;
	}
	.tnc-box__logos > img:last-child {
		width: 37px;
		height: 37px;
		display: block;
		margin: 0 auto;
	}
	.wc22-modals {
		align-items: flex-end;
	}
	.wc22-modals__lbox {
		border-radius: 16px 16px 0 0;
	}
	.wc22-modals__lbox__bar {
		display: block;
	}
	.wc22-modals__lbox__close {
		right: 16px
	}
	.wc22-modals__lbox__head {
		padding: 16px;
	}
	.wc22-modals__lbox__content {
		padding: 16px;
		max-height: 80vh
	}
	/* ~tnc */
	/* groups */
	.groups-card table tbody tr td:nth-child(2) {
		padding-right: 32px;
	}
	/* ~groups */
	/* match schedule */
	.match-sched {
		padding: 15px 0;
	}
	.match-sched__cards__card {
		flex-basis: 100%;
		width: 100%;
		padding: 15px 0;
		margin-bottom: 0;
	}
	/* ~match schedule */
}
@media (max-width: 559px) {
	/* tnc */
	.tnc-box > img {
		left: -3%;
	}
	/* ~tnc */
	/* modals */
	.wc22-modals__lbox__content li table th,
	.wc22-modals__lbox__content li table td {
		padding: 6px;
	}
	/* ~modals */
}
@media (max-width: 459px) {
	/* tnc */
	html[lang="ja-JP"] .tnc-box__texts h3 {
		font-size: 10px;
	}
	.tnc-box > img {
		left: -3%;
	}
	/* ~tnc */
}

@media (hover: hover){
	.odds-upcoming-card:hover {
		-webkit-transform: scale(1.05);
				-ms-transform: scale(1.05);
						transform: scale(1.05);
	}
	.odds-upcoming-card__capsules__cap:hover {
		background-color: var(--pattens-blue);
	}
	.swiper-odds-prev:hover,
	.swiper-odds-next:hover {
			background: var(--primary-5);
	}
	.swiper-odds-prev.swiper-sched-prev:hover,
	.swiper-odds-next.swiper-sched-next:hover {
			background: var(--torch-red-hover);
			opacity: 1;
	}
	.swiper-odds--upcoming:hover .swiper-odds-prev,
	.swiper-odds--upcoming:hover .swiper-odds-next {
			opacity: 1;
	}
	.swiper-sched-dates:hover .swiper-odds-prev,
	.swiper-sched-dates:hover .swiper-odds-next {
			opacity: .2;
	}
	.swiper-sched-dates:hover .swiper-odds-prev:hover,
	.swiper-sched-dates:hover .swiper-odds-next:hover {
			opacity: 1;
	}
	.swiper-odds--upcoming:hover .swiper-odds-prev.swiper-odds-disabled,
	.swiper-odds--upcoming:hover .swiper-odds-next.swiper-odds-disabled,
	.swiper-sched-dates:hover .swiper-odds-prev.swiper-odds-disabled,
	.swiper-sched-dates:hover .swiper-odds-next.swiper-odds-disabled {
			opacity: 0;
			cursor: auto;
	}
	.tnc-box > a:hover {
		color: var(--charcoal);
	}
}