
@charset "UTF-8";

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
/* START of Section */

.fifa--section {
    width: 100%;
    max-width: 1366px;
    margin: 24px auto;
    position: relative;
}

.wc-dsk--logo {
    display: block;
}

.wc-mbl--logo {
    display: none;
}

.fifa--covered-abs {
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    margin: 0 auto;
    background: rgba(138, 20, 55, 0.389);
    height: 2.1vh;
    z-index: 1;
    width: 100%;
    display: none;
}

.fifa--covered {
    background: -o-linear-gradient(top, rgba(138, 21, 56, 0.85) 0%, rgba(210, 10, 70, 0.85) 100%), #000000;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(138, 21, 56, 0.85)), to(rgba(210, 10, 70, 0.85))), #000000;
    background: linear-gradient(180deg, rgba(138, 21, 56, 0.85) 0%, rgba(210, 10, 70, 0.85) 100%), #000000;
    border-radius: 18px;
}

.fifa--inner {
    height: 112px;
    margin: 0 auto;
    border-radius: 16px;

    background-image: 
        url('../../images/timer/sides/sd-ball-left.svg'),
        url('../../images/timer/mask-banner/mask-ban.svg'),
        url('../../images/timer/sides/sd-ball-right.svg');
    background-size: auto,contain;
    background-position: left center, center center, right center;
    background-repeat: no-repeat, no-repeat, no-repeat;
}

.fifa--contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 112px;
    padding: 0 9.945em 0 4.491875em;
}

.fifa--txt-ban img {
    max-width: 474.63px;
}

.fifa--cd ul {
    display: flex;
    gap: 50px;
}

.fifa--cd ul li #days,
.fifa--cd ul li #hours,
.fifa--cd ul li #minutes {
    font-weight: 700;
    font-size: 48px;
}

.fifa--cd ul li {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    color: #fff;
    font-weight: 400!important;
    font-size: 14px;
}

.fifa--cd ul li {
    font-family: 'SF Pro Display', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.fifa--mask-ban {
    top: -12px;
    position: relative;
    z-index: 99;
}


@media (max-width: 1366px) {
    .fifa--cd ul li {
        font-size: 1.025vw;
    }

    .fifa--cd ul li #days,
    .fifa--cd ul li #hours,
    .fifa--cd ul li #minutes {
        font-size: 3.514vw;
    }
    .fifa--txt-ban img {
        max-width: 34.746vw;
    }
}

@media (max-width: 1023px) {
    .fifa--contents {
        padding: 0 24px;
    }
    .fifa--inner {
        width: 100%;
        background-position: fixed;
        background-size: contain, contain, contain;
    }

    .fifa--cd ul li #days,
    .fifa--cd ul li #hours,
    .fifa--cd ul li #minutes {
        font-size: 40px;
    }
}

@media(max-width: 767px) {
    .fifa--section {
        margin: 24px auto;
    }

    .wc-dsk--logo {
        display: none;
    }

    .wc-mbl--logo {
        display: block;
    }

    .fifa--section,
    .fifa--covered {
        border-radius: 9px;
    }
    
    .fifa--inner,
    .fifa--contents {
        height: 64px;
        border-radius: 9px;
    }

    .fifa--cd ul li #days,
    .fifa--cd ul li #hours,
    .fifa--cd ul li #minutes {
        font-size: 18px;
    }

    .fifa--cd ul li, 
    .fifa--cd ul li, 
    .fifa--cd ul li {
        font-size: 10px;
    }

    .fifa--mask-ban {
        top: 0;
    }
    .fifa--mask-ban img {
        width: 68.69px;
    }
}

@media(max-width: 500px) {
    .fifa--cd ul {
        gap: 24.5px;
    }
    .fifa--contents {

        padding: 0 8px;
        gap: 10px;
    }
    .fifa--inner {
        background-size: 98px, 340px, 98px;
        background-position: -40px, center, 410px;
    }

}

@media(max-width: 375px) {
    .fifa--inner {
        background-size: 98px, contain, 98px;
        background-position: -80px, center, 300px;
    }

    .fifa--mask-ban img {
        position: relative;
        right: 0px;
    }
    .fifa--cd ul li, 
    .fifa--cd ul li, 
    .fifa--cd ul li {
        font-size: 10px;
    }
}

@media(max-width: 350px) {
    body {
        min-width: 375px;
    }
}