@charset "utf-8";
/*Break-wrap start*/
.bracket-wrap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 32px;
	padding-top: 40px;
}
.bracket-wrap > * {
	width: 100%;
}
.bracket-wrap > *:not(:last-child) {
	margin-right: 24px;
}
.bracket {
	position: relative;
	height: 100%;
	width: 140px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.bracket.active {
	z-index: 1;
}
.bracket-wrap .middle-wrap {
    position: relative;
    height: 488px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.bracket .bracket-title{
	font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #A7A9B0;
    position: absolute;
    top: 0;
    -webkit-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
            transform: translateY(-40px);
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
.bracket .match-bracket {
	position: relative;
	-ms-flex-preferred-size: 50%;
	    flex-basis: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.bracket.semi-finals{
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.bracket.semi-finals .match-bracket{
	-ms-flex-preferred-size: 75%;
	    flex-basis: 75%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.bracket.finals .match-bracket{
	-ms-flex-preferred-size: 100%;
	    flex-basis: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.bracket .match-bracket:not(:last-child) {
	margin-bottom: 153px;
}
.bracket-wrap .bracket.champion {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.bracket-wrap .bracket.champion img{
	height: 56px;
    width: 26px;
    margin-bottom: 195px;
}
.bracket-wrap .bracket.champion .dd-champ-wrap {
	position: relative;
	padding: 46px 8px 8px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border-radius: 4px;
	margin-bottom: 8px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
/*Break-wrap end*/

/*Break Line start*/
.bracket-line {
	position: absolute;
	right: -12px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	width: 1px;
	height: calc(100% - 40px);
	background-color: #FF004C;
}
.bracket.east .bracket-line {
	left: -12px;
	right: auto;
}
.bracket-line:before, .bracket-line:after {
	content: "";
	position: absolute;
	right: 1px;
	top: 0;
	width: 12px;
	height: 1px;
	background-color: #FF004C;
}
.bracket.east .bracket-line:before, .bracket.east .bracket-line:after {
	left: 1px;
	right: auto;
}
.bracket-line:after {
	top: auto;
	bottom: 0;
}
.bracket-line span {
	display: block;
	position: absolute;
	left: 1px;
	top: 50%;
	width: 12px;
	height: 1px;
	background-color: #FF004C;
}
.bracket.east .bracket-line span {
	left: auto;
	right: 1px;
}
.bracket.finals .bracket-line {
    height: 1px;
    width: calc(100% - 285px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(-155px);
        -ms-transform: translateX(-155px);
            transform: translateX(-155px);
}
.bracket.finals .bracket-line:after {
    content: '';
    display: none;
}
.bracket.finals .bracket-line span{
	display: none;
}
.bracket-wrap .middle-wrap .bracket-line{
	height: 1px;
	margin:0 auto;
	left: 0;
	right: 0;
	width: calc(100% - 280px);
}
.bracket-wrap .middle-wrap .bracket-line span{
	-webkit-transform: translateX(50%);
	    -ms-transform: translateX(50%);
	        transform: translateX(50%);
    left: 50%;
    height: 12px;
    width: 1px;
    top: unset;
    bottom: 0;
}
.bracket-wrap .middle-wrap .bracket-line:after,
.bracket-wrap .middle-wrap .bracket-line:before{
	width: 0;
	height: 0;
}
/*Break Line end*/

/*dd-wrap start*/
.bracket .dd-wrap * {
	vertical-align: middle;
}
.bracket .dd-wrap .icon:before, .dd-option-wrap .icon:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 16px;
	margin-right: 4px;
	background-repeat: no-repeat;
	background-size: contain;
}
.bracket .dd-wrap .icon-ar:before {
	background-image: url(../../images/prediction/flags/team-flags/ar.svg);
}
.bracket .dd-wrap .icon-at:before {
	background-image: url(../../images/prediction/flags/team-flags/at.svg);
}
.bracket .dd-wrap .icon-be:before {
	background-image: url(../../images/prediction/flags/team-flags/be.svg);
}
.bracket .dd-wrap .icon-br:before {
	background-image: url(../../images/prediction/flags/team-flags/br.svg);
}
.bracket .dd-wrap .icon-ca:before {
	background-image: url(../../images/prediction/flags/team-flags/ca.svg);
}
.bracket .dd-wrap .icon-cm:before {
	background-image: url(../../images/prediction/flags/team-flags/cm.svg);
}
.bracket .dd-wrap .icon-cr:before {
	background-image: url(../../images/prediction/flags/team-flags/cr.svg);
}
.bracket .dd-wrap .icon-hr:before {
	background-image: url(../../images/prediction/flags/team-flags/hr.svg);
}
.bracket .dd-wrap .icon-dk:before {
	background-image: url(../../images/prediction/flags/team-flags/dk.svg);
}
.bracket .dd-wrap .icon-en:before {
	background-image: url(../../images/prediction/flags/team-flags/en.svg);
}
.bracket .dd-wrap .icon-ec:before {
	background-image: url(../../images/prediction/flags/team-flags/ec.svg);
}
.bracket .dd-wrap .icon-fr:before {
	background-image: url(../../images/prediction/flags/team-flags/fr.svg);
}
.bracket .dd-wrap .icon-de:before {
	background-image: url(../../images/prediction/flags/team-flags/de.svg);
}
.bracket .dd-wrap .icon-gh:before {
	background-image: url(../../images/prediction/flags/team-flags/gh.svg);
}
.bracket .dd-wrap .icon-ir:before {
	background-image: url(../../images/prediction/flags/team-flags/ir.svg);
}
.bracket .dd-wrap .icon-jp:before {
	background-image: url(../../images/prediction/flags/team-flags/jp.svg);
}
.bracket .dd-wrap .icon-mx:before {
	background-image: url(../../images/prediction/flags/team-flags/mx.svg);
}
.bracket .dd-wrap .icon-ma:before {
	background-image: url(../../images/prediction/flags/team-flags/ma.svg);
}
.bracket .dd-wrap .icon-nl:before {
	background-image: url(../../images/prediction/flags/team-flags/nl.svg);
}
.bracket .dd-wrap .icon-pl:before {
	background-image: url(../../images/prediction/flags/team-flags/pl.svg);
}
.bracket .dd-wrap .icon-pt:before {
	background-image: url(../../images/prediction/flags/team-flags/pt.svg);
}
.bracket .dd-wrap .icon-qa:before {
	background-image: url(../../images/prediction/flags/team-flags/qa.svg);
}
.bracket .dd-wrap .icon-sa:before {
	background-image: url(../../images/prediction/flags/team-flags/sa.svg);
}
.bracket .dd-wrap .icon-sn:before {
	background-image: url(../../images/prediction/flags/team-flags/sn.svg);
}
.bracket .dd-wrap .icon-rs:before {
	background-image: url(../../images/prediction/flags/team-flags/rs.svg);
}
.bracket .dd-wrap .icon-kor:before {
	background-image: url(../../images/prediction/flags/team-flags/kor.svg);
}
.bracket .dd-wrap .icon-es:before {
	background-image: url(../../images/prediction/flags/team-flags/es.svg);
}
.bracket .dd-wrap .icon-ch:before {
	background-image: url(../../images/prediction/flags/team-flags/ch.svg);
}
.bracket .dd-wrap .icon-tn:before {
	background-image: url(../../images/prediction/flags/team-flags/tn.svg);
}
.bracket .dd-wrap .icon-us:before {
	background-image: url(../../images/prediction/flags/team-flags/us.svg);
}
.bracket .dd-wrap .icon-uy:before {
	background-image: url(../../images/prediction/flags/team-flags/uy.svg);
}
.bracket .dd-wrap .icon-ws:before {
	background-image: url(../../images/prediction/flags/team-flags/wls.svg);
}
.dd-wrap{
	position: relative;
}
.dd-wrap *{
	cursor: pointer;
}
.dd-wrap.dd-disabled{
	pointer-events: none;
	opacity: 0.8;
}
.dd-wrap .txt, .dd-option-wrap .txt {
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: capitalize;
    text-align: left;
    color: #64748B;
}
.dd-option-wrap .dd-option{
	padding: 16px;
}
.dd-wrap .dd-selected .txt{
    text-transform: uppercase;
}
.dd-option-wrap .dd-option .txt {
	text-transform: uppercase;
}
.dd-wrap .dd-selected {
	border-right: 2px solid #FF004C;
	position: relative;
	width: 140px;
	height: 34px;
	line-height: 38px;
	background-color: #fff;
	color: #000;
	padding: 0 29px 0 8px;
	box-sizing: border-box;
	display: flex;
	justify-content: start;
	align-items: center;
	outline: none;
}
.dd-wrap.active .dd-selected {
	-moz-box-shadow: inset 0 -10px 10px -10px rgb(0 0 0 / 10%);
	-webkit-box-shadow: inset 0 -10px 10px -10px rgb(0 0 0 / 10%);
	box-shadow: inset 0 -10px 10px -10px rgb(0 0 0 / 10%);
}
.dd-wrap .dd-selected:after {
	content: "";
	background-image: url(../../images/prediction/icons/caret-down-dark.svg);
	background-repeat: no-repeat;
	background-size: contain;
	width: 13.5px;
	height: 7.5px;
	position: absolute;
	right: 8px;
	top: 50%;
	transform: translateY(-50%);
	transition: transform 0.3s;
}
.dd-wrap.active .dd-selected:after {
	transform: translateY(-50%) rotate(180deg);
}
.dd-wrap .dd-selected.placeholder .txt:before {
	content: attr(data-placeholder-d);
	color: #b5b5b5;
}
.dd-wrap .dd-selected input[type="text"] {
	position: absolute;
	left: 0;
	top: 0;
	border: 0;
	width: 100%;
	height: 100%;
	padding: 0 29px 0 8px;
	outline: 0;
	opacity: 0;
	font-size: 14px;
	text-transform: capitalize;
	box-sizing: border-box;
}
.dd-wrap.active .dd-selected input[type="text"] {
	opacity: 1;
}
.dd-wrap .dd-option-wrap {
	display: none;
	position: absolute;
	bottom: -2px;
	z-index: 1;
	transform: translateY(100%);
	background-color: #fff;
	box-sizing: border-box;
	width: 100%;
	width: 190px;
	height: auto;
	padding: 8px;
	border-radius: 10px;
	box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.1);
}
.dd-wrap.active .dd-option-wrap {
	display: block;
}
.dd-wrap .dd-option-wrap > .heading {
	display: none;
}
/*dd-wrap end*/

/*Dropdown start*/
.dd-wrap .dd-option-wrap {
	display: none;
	position: absolute;
}
.dd-wrap .dd-option, .dd-option-wrap .dd-option {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 30px;
    color: #000;
    width: 100%;
    box-sizing: border-box;
	transition: all ease 0.5s;
}
.dd-wrap .dd-option.hidden, .dd-option-wrap .dd-option.input-hidden {
	display: none;
}
.dd-wrap .dd-option:not(:last-child):not(:hover):after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	width: calc(100% - 16px);
	height: 1px;
	/* background-color: #ebebeb; */
}
.dd-wrap .dd-option:hover {
	background-color: #F4F4F5;
    border-radius: 16px;
}
.dd-wrap .dd-option:hover .txt {
	color: #64748B;
}
.dd-wrap .dd-option.icon.selected{
	background-color: #F4F4F5;
    border-radius: 16px;
	position: relative;
}
.dd-wrap .dd-option.icon.selected::after{
	background-image: url('../../images/prediction/icons/check-selected-black.svg');
    background-repeat: no-repeat;
    display: block;
    position: absolute;
	content: '';
    Width: 14px!important;
    Height: 14px;
    top: 9px;
    left: 90%;
}
.dd-wrap .dd-option.icon.selected:hover:after{
	content: '';
	transform: translateX(-50%);
	/* background-image: url('../../images/prediction/icons/check-selected-black.svg'); */
}
.dd-wrap .dd-option.icon.hidden{
	display: none;
}
.dd-wrap .dd-option.icon.selected{
	display: flex;
}
.dd-wrap .dd-option-wrap .scroll-wrapper, .dd-wrap .dd-option-wrap .scroll-wrapper > .list {
	max-height: 263px;
	height: 263px;
}
.dd-wrap .dd-option-wrap .scrollbar-inner > .scroll-element.scroll-y {
	width: 2px;
}
.dd-wrap .dd-option-wrap .scrollbar-inner.list{height: 100% !important;}
.dd-wrap .dd-option-wrap .scrollbar-inner > .scroll-element .scroll-element_track {
	background-color: transparent;
}
.dd-wrap .dd-option-wrap .scrollbar-inner > .scroll-element .scroll-bar {
    background-color: #d0d0d0;
}
.dd-wrap .dd-option-wrap .scrollbar-inner > .scroll-element .scroll-bar {
	opacity: 1;
}
/* .dd-wrap .dd-option.icon:hover{
	background-image: url('../../images/prediction/icons/check-selected-black.svg');
    background-repeat: no-repeat;
    background-position: 90% center;
} */
/*Dropdown end*/

/*CTA BTN START*/
.cta-area {
	text-align: center;
	display: flex;
	justify-content: center;
}
.cta-area .btn {
	font-size: 14px;
	font-weight: 900;
	line-height: 24px;
	padding: 16px 32px;
	text-transform: uppercase;
	width: 288px;
}
.cta-area .btn.btn--red.inactive{
	background-color: var(--torch-red-disabled);
	color: var(--torch-2b);
	pointer-events: none;
}
/*CTA BTN end*/

/*LABEL START*/
.match-date-lbl{
	color: var(--white);
	font-size: 10px;
	padding-left: 3px;
    padding-right: 3px;
    position: absolute;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 140px;
}

.match-bracket .match-date-lbl[data-lbl="top"]{
	top: -15px;
}
.bracket.champion .dd-champ-wrap .match-date-lbl[data-lbl="top"]{
	top: 30px;
}
.match-bracket .match-date-lbl[data-lbl="bottom"]{
	bottom: 35px;
}
.match-bracket .match-date-lbl.right{
	right: 0;
}
/*LABEL END*/

/*POPUP START*/
.wc22-modals__lbox.wc22-modals__lbox--pred.act{
	height: 100%;
    max-height: 606px;
}
.wc22-modals__lbox.wc22-modals__lbox--pred .wc22-modals__lbox__head > h4{
	text-transform: uppercase;
}
.wc22-modals__lbox.wc22-modals__lbox--pred .wc22-modals__lbox__content{
    max-height: 352px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 32px 32px;
    justify-content: center;
}
.modals__lbx--wrap{
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.modals__lbx--top--msg{
	color: #222939;
	font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    width: 416px;
    text-align: center;
}
.email-lbl{
	padding: 12px 16px;
    border: 1px solid #D3D4D7;
    border-radius: 60px;
	width: 100%;
}
.email-lbl > input[type=email]{
	box-sizing: border-box;
    outline: 0;
    border: 0;
    font-size: 14px;
    width: 100%;
}
.email-lbl > input[type=email]::placeholder,
.email-lbl > input[type=email]:-ms-input-placeholder,
.email-lbl > input[type=email]::-ms-input-placeholder {
    color: #BDBFC4;
}
.mrgn-btm{
    margin-bottom: 24px;
}
.mrgn-btm:last-child{
	margin-bottom: 0;
}
.modals__lbx--bottom--msg{
	color: #222939;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
}
.wc22-modals__lbox__footer{
    background-color: var(--white);
    border-top: 1px solid var(--light-AEB);
	box-sizing: border-box;
	padding: 24px 32px 32px;
    position: sticky;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end;
	width: 100%;
}
.btn--confirm{
	background-color: var(--secondary-3);
	border: 1px solid rgba(0, 0, 0, 0);
    font-weight: 900;
}
.btn--disabled{
    color: var(--secondary-3);
    background-color: var(--secondary-5);
    font-weight: 900;
}
.email-lbl.err{
	border: 1px solid var(--pink-red-dark) !important;
    outline: none;
}
.txt-err{
	margin-top: 5px;
    text-align: left;
    display: block;
    width: 100%;
    font-size: 12px;
    color: var(--pink-red-dark);
    font-weight: 700;
}
/*POPUP END*/

/*Scroll Start*/
.scroller-inner .bracket-wrap.x-inner{
	max-width: 9999px;
	overflow-x: auto;
	overflow-x: auto;
	-ms-overflow-style: none;  /* IE and Edge */
	  scrollbar-width: none;  /* Firefox */
}
.scroller-inner .bracket-wrap.x-inner::-webkit-scrollbar {
	display: none;
}
/*Scroll END*/

/*MEDIA Query Start*/
@media (min-width: 1024px) {
	.bracket-wrap{
    	margin: 0 auto;
		max-width: 1168px;
	}
}
@media (min-width: 768px) {
	.bracket{
		height: 488px;
	}
	.bracket-wrap.x-inner .bracket.quarter-finals .match-bracket:nth-child(3) .dd-wrap .dd-option-wrap{
		transform: translateY(-14%);
	}
	.bracket-wrap.x-inner .bracket.semi-finals .match-bracket:nth-child(2) .dd-wrap .dd-option-wrap{
		transform: translateY(-65%);
	}
	/*LABEL START*/
	.bracket.finals .match-bracket .match-date-lbl[data-lbl="top"]{
		top: 43%;
	}
	.match-bracket .match-date-lbl:nth-child(1){
		top: -15px;
	}
	.match-bracket .match-date-lbl:nth-child(2){
		bottom: 35px;
	}
	/*LABEL END*/
}
@media (min-width: 480.5px) {
	.bracket-wrap{
		margin-bottom: 40px;
    	padding-top: 50px;
	}
	.bracket-wrap.x-inner .bracket-inner .bracket.quarter-finals:nth-child(3) .dd-wrap .dd-option-wrap,
	.bracket-wrap.x-inner .bracket-inner .bracket.quarter-finals:nth-child(4) .dd-wrap .dd-option-wrap{
		transform: translateY(-16%);
	}
	.bracket-wrap.x-inner .bracket-inner .bracket.semi-finals:nth-child(2) .match-bracket .dd-wrap:nth-child(3) .dd-option-wrap{
		transform: translateY(-50%);
	}
}
@media (max-width: 768px) {
	.bracket-inner{
		height: 450px;
		width: 140px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		position: relative;
	}
	/* .bracket-scroller-x .scroll-mover {
		padding: 0 0 50px;
	} */
	.x-inner .dd-wrap .dd-option-wrap{
		padding: 0;
	}
	.x-inner .dd-wrap .dd-option-wrap .scrollbar-inner.list{
		padding: 8px;
	}
	.x-inner .dd-wrap .dd-option:not(:last-child):not(:hover):after{
		-webkit-transform: translateX(0);
		    -ms-transform: translateX(0);
		        transform: translateX(0);
	}
	.x-inner .dd-wrap .dd-option.icon.selected::after{
		top: 15px;
	}
	.bracket-inner .bracket.quarter-finals:not(:last-child){
		padding-bottom: 10px;
	}
	.bracket-inner .bracket.quarter-finals{
		padding-bottom: 0px;
	}
	.bracket-inner .match-bracket-wrap.quarter-finals {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.bracket-inner .match-bracket-wrap.semi-finals{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
	}
	.bracket-inner .bracket.semi-finals{
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.bracket-inner .match-bracket-wrap.finals{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
	}
	.bracket-inner .bracket.finals .match-bracket{
		-ms-flex-pack: distribute;
		    justify-content: space-around;
	}
	.bracket-inner .bracket-wrap .bracket.champion img{
		margin-bottom: 0;
		height: 56px;
		width: 26px;
	}
	.bracket-inner .bracket-wrap .bracket.champion .dd-champ-wrap{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		padding: 15px 0px 35px;
	}
	.bracket-inner .bracket.champion .bracket-title{
		position: relative;
		transform: unset;
		top: 0;
		padding-bottom: 10px;
	}
	.bracket-inner .bracket.champion .dd-champ-wrap .match-date-lbl{position: relative;top: unset;}
	.bracket-line {
		right: -10px;
	}
	.match-bracket-wrap.semi-finals .bracket-line {
		height: calc(100% - (6px + 28px));
		margin-top: 0;
	}
	.match-bracket-wrap.finals .bracket-line {
		height: calc(100% - (48px + 28px));
		margin-top: calc(28px / 2);
	}
	/* .bracket-line:before, .bracket-line:after {
		width: 3px;
	}
	.bracket-line span {
		width: 3px;
	} */
	.bracket .bracket-title {
		font-size: 14px;
		line-height: 20px;
	}
	.bracket-inner .quarter-finals .dd-wrap{
		padding-bottom: 12px;
	}
	.bracket-inner .quarter-finals .dd-wrap:last-child{
		padding-bottom: 0px;
	}
	.bracket-inner .bracket.semi-finals .match-bracket > div:nth-child(3).dd-wrap{
		padding-top: 10px;
	}
	.bracket-inner .bracket.semi-finals .match-bracket > div:nth-child(5).dd-wrap{
		padding-bottom: 10px;
	}
	.bracket-inner .match-bracket .match-date-lbl[data-lbl="top"]{top: -3px;}
	.bracket-inner .match-bracket .match-date-lbl[data-lbl="bottom"]{bottom: 43px;}
	.bracket-inner .bracket.finals .match-bracket .match-date-lbl[data-lbl="top"]{top: 82px;}
	.bracket-inner .bracket.finals .match-bracket .match-date-lbl[data-lbl="bottom"]{bottom: 130px;}
	
	.dd-wrap .txt {
		font-size: 12px;
		line-height: 16px;
		white-space: normal;
	}
	.dd-wrap .dd-selected {
		padding: 8px 16px;
	}
	.dd-wrap .dd-selected:after {
		width: 16px;
		height: 16px;
	}
	.dd-wrap .dd-selected.placeholder .txt:before {
		content: attr(data-placeholder-m);
	}

	/*POPUP Start*/
	.wc22-modals__lbox.wc22-modals__lbox--pred.act{
		max-height: 480px;
	}
	.wc22-modals__lbox.wc22-modals__lbox--pred.act img{
		width: 100px;
	}
	.wc22-modals__lbox.wc22-modals__lbox--pred.act .modals__lbx--top--msg{
		font-size: 16px;
		width: 100%;
	}
	.modals__lbx--bottom--msg{
		font-size: 12px;
	}
	.email-lbl > input[type=email]{
		font-size: 12px;
	}
	.mrgn-btm{
		margin-bottom: 12px;
	}
	/*POPUP END*/

	/*CTA BTN START*/
	.cta-area .btn {
		padding: 14px 0px;
	}
	/*CTA BTN END*/
}
@media (max-width: 480px) {
	.bracket-wrap{
		padding-top: 30px;
	}
	.dd-wrap .dd-option, .dd-option-wrap .dd-option {
		height: 50px;
	}
	.popup-prediction-dd .scrollbar-inner	{
		max-height: 60vh;
		height: 60vh;
	}
	.popup-prediction-dd .scrollbar-inner .list	{
		max-height: unset;
		height: unset;
	}
	.bracket.active {
		z-index: unset;
	}
	.dd-wrap .dd-option-wrap {
		position: fixed;
		left: 0;
		bottom: 0;
		z-index: 991;
		transform: none;
		width: 100%;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		border: 0;
	}
	.dd-wrap .dd-option-wrap .scroll-wrapper, .dd-wrap .dd-option-wrap .scroll-wrapper > .list {
		max-height: 60vh;
		height: 60vh;
		padding: 0 8px;
	}
	.dd-wrap .dd-option-wrap > .heading {
		color: #000;
		font-size: 16px;
		padding: 16px;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.dd-wrap .dd-option-wrap > .heading .btn-close {
		display: inline-block;
		vertical-align: middle;
		width: 16px;
		height: 16px;
		background-image: url(../../images/prediction/icons/close-dark.svg);
		background-repeat: no-repeat;
		background-size: contain;
		font-size: 0;
	}
	.dd-wrap .dd-option-wrap .dd-option:not(:last-child):not(:hover):after {
		width: 100%;
	}
	.dd-wrap .dd-option-wrap .dd-option:hover .txt {
		font-size: 14px;
	}
	.dd-wrap .dd-option-wrap .icon:before {
		margin-right: 8px;
	}
}
/*MEDIA Query END*/